
/* SAMSUNG S22+  */
@media only screen and (device-width: 360px) and (device-height: 780px)
 and (-webkit-device-pixel-ratio: 3){
	.responsive-video{
		width: 150%!important;
	}
}

/* iPHONE 12, 12 Pro */
@media only screen and (device-width: 390px) and (device-height: 844px)
 and (-webkit-device-pixel-ratio: 3){
	.responsive-video{
		width: 150%!important;
	}
}


/* X-SMALL */
@media only screen and (max-width: 595px){
    .responsive-video{
		width: 100%!important;
	}
    .container{
        margin-bottom: 0;
    }
    .decoration{
        margin-bottom: 0;
    }
    .k-btn{
        padding: 10px 20px;
    }
    .callbtn_icon{
        margin: 0 5px;
    }
    .footer{
        padding: 1px 0;
    }
}

/* SMALL */
@media only screen and (min-width: 600px){
    .responsive-video{
		width: 100%!important;
	}
}

/* MEDIUM */
@media only screen and (min-width: 768px){
    .responsive-video{
		width: 100%!important;
	}
}

/* LARGE */
@media only screen and (min-width: 889px){
    .responsive-video{
		width: 100%!important;
	}
}

/* X-LARGE */
@media only screen and (min-width: 1200px){
    .responsive-video{
		width: 100%!important;
	}
}